name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  CI:
    uses: harik8/sandbox/.github/workflows/rw-aws.yaml@D-121225
    secrets:
      inherit: true