name: AWS

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  BUCKET_NAME: ${{ secrets.AWS_S3_HP_DOT_DEV_S3_BUCKET }}

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  S3:
    uses: harik8/sandbox/.github/workflows/rw-aws.yaml@D-121225
    secrets:
      AWS_IAM_GITHUB_OIDC_ROLE_ARN: ${{ secrets.AWS_IAM_GITHUB_OIDC_ROLE_ARN }}
      AWS_IAM_ASSUME_ROLE_ARN: ${{ secrets.AWS_IAM_ASSUME_ROLE_ARN }}
    with:
      commands: |
        aws s3 cp ./src s3://$BUCKET_NAME/static --recursive
    env:
      BUCKET_NAME: ${{ secrets.AWS_S3_HP_DOT_DEV_S3_BUCKET }}
