name: AWS

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  STS:
    uses: harik8/sandbox/.github/workflows/rw-aws.yaml@D-121225
    secrets:
      AWS_IAM_GITHUB_OIDC_ROLE_ARN: ${{ secrets.AWS_IAM_GITHUB_OIDC_ROLE_ARN }}
      AWS_IAM_ASSUME_ROLE_ARN: ${{ secrets.AWS_IAM_ASSUME_ROLE_ARN }}

  PUBLISH:
    needs: STS
    steps:
    - name: PUBLISH - Use AWS Credentials from STS Job
      run: |  
        env