name: AWS

on: push

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  AWS:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: AWS - Set AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_IAM_GITHUB_OIDC_ROLE_ARN }}
        role-session-name: gh_set_aws_credentials

    - name: AWS - Assume Role
      id: aws_assume_role
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_IAM_ASSUME_ROLE_ARN }}
        role-session-name: gh_assume_role
        role-chaining: true

    - name: AWS - S3 sync
      run: |
        aws s3 sync ./src s3://${{ secrets.AWS_S3_HP_DOT_DEV_S3_BUCKET }}/static --recursive
